services:
  web:
    build: .
    container_name: hotel_backend
    volumes:
      - .:/app
      - ./static:/app/static
    expose:
      - "8001"
    env_file:
      - .env
    depends_on:
      - db

  db:
    image: postgres:13
    container_name: postgres
    external: true
